@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #a77c52;
  --color-espresso: #321C00;
  --color-background-light: #FAF5E8;
  --color-background-dark: #1c1916;
  
  --font-display: "Lexend", sans-serif;
  --font-serif: "Playfair Display", serif;
}

/* Custom utilities if needed */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
